<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Edit Fabric Information</title>
        <!--<link rel="stylesheet" href="/css/main.css">-->
    </head>

    <body>
        <h1>Edit Fabric Information</h1>

        <p>ID: <span th:text="${id}"/> </p>
        <form id="edit-form" th:action="'/api/fabrics/' + ${id}" method="PUT">
            Name: <input type="text" name="name" th:value="${name}"/>
            Category: <input type="text" name="category" th:value="${category}"/>
            Fabric Base: <input type="text" name="base" th:value="${base}"/>
            Store: <input type="text" name="bestStore" th:value="${bestStore}"/>
            Custom: <input type="text" name="custom" th:value="${isCustom}"/>

            <button id="deleteFabric">DELETE</button>
            <input type="submit" value="save"/>
        </form>

        <script src="/js/form.js"></script>
    </body>
</html>